<br>
<h1> Search Results  </h1>
<br/>
<%= render 'folders/cart_form' %>
<br>
<%= link_to 'Go to the Search Page', root_path %>
<br>
<br>


<table class="table table-striped table-hover table-bordered">
    <thead  class="table-primary text-center" style="width: 100%">
    <tr>
        <th> Folder Id </th>
        <th> Title of the Folder </th>
        <th> Reference </th>
    </tr>
    </thead>

<tbody  class="text-center" style="width: 100%">
    <% @searches.each do |search| %>
        <tr>
            <td><%= search.folder_id %></td>
            <td><%= search.name %></td>
            
                <% if @cart.include?(search.folder_id)%>
                    <p> This folder is in your cart. </p>
                <% else%>
                    <td><%= link_to 'add to cart', controller: 'folders', action: 'add_to_cart', id: search.folder_id, method: :post %></td>
                <% end %>
        </tr>
    <% end %>
    </tbody>
</table>

