
<h1> Search Results  </h1>
<br/>
<% link_to 'Go to the Search Page', root_path %>

<table class="table table-striped table-hover table-bordered">
    <thead  class="table-primary text-center" style="width: 100%">
    <tr>
        <th> FOIA_ID </th>
        <th> FOLDER TITLE </th>
        <th> LOCAL ID </th>
        <th> RECORD COLLECTION </th>
        <th> OFFICE ORIGIN </th>
        <th> SERIES </th>
        <th> SUB SERIES </th>
        <th> BOX TYPE </th>
        <th> BOX NUMBER </th>
        <th> ADD </th>
    </tr>
    </thead>
    <tbody class="text-center" style="width: 100%">
    <% @searches.each do |search| %>
        <tr>
            <td><%= search.metadatum.FOIA_ID %></td>
            <td><%= search.folder_title %></td>
            <td><%= search.metadatum.local_id %></td>
            <td><%= search.metadatum.record_collection %></td>
            <td><%= search.metadatum.office_origin %></td>
            <td><%= search.metadatum.series %></td>
            <td><%= search.metadatum.subseries %></td>
            <td><%= search.metadatum.box_type %></td>
            <td><%= search.metadatum.box_number %></td>
                <% if @cart.include?(search.metadatum.folder_id)%>
                    <p> This folder is in your cart. </p>
                <% else%>
                    <td>
                        <%= link_to 'add to cart', controller: 'folders', action: 'add_to_cart', id: search.metadatum.folder_id, method: :post %></td>
                <% end %>
        </tr>
    <% end %>
    </tbody>
    
</table>
<%= paginate @searches %>

